name: ShellCheck

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '19 22 * * 0'

permissions:
  contents: read

jobs:
  shellcheck:
    name: ShellCheck Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './scripts/bash'
          severity: warning
          format: gcc

      - name: Run ShellCheck on Linux scripts
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './linux'
          severity: warning
          format: gcc
        continue-on-error: true
